@page
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment Env
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p>Use this page to detail your site's privacy policy.</p>

@Env.ContentRootFileProvider

@Env.ContentRootPath